body{
    background-color:#7795c4;
    background-size: cover;
    margin-top: 20px
}

h1 {
    color: white;
    text-align: center;
    background-color: #002054;
    margin: 10px 10px
}

h2{
    color: #002054;
    text-align: center;   
}

.intro{
    padding: 10px;
    margin: 5px;
    border: 5px solid #00264d;
    background-color: #f2f2f2;
    text-align: center;
    color: #001a33;
}

.clues{
    margin-top:20px;
}

.box{
    text-align:center;
    color: blue;
    border: 5px solid black;
    margin-bottom:15px;
    height: 100px;
    background-color: #f9f9e5;
}

.box p{
    padding-top:25px;
}

form{
    margin-top: 25px;
    text-align: center;
}

button{
    display: block;
    margin: 0 auto;
}

.prev_answers{
    margin-top: 25px;
    border: 1px solid black;
    color: white;
    height: auto;
}

.leaderboard{
    border: 1px solid black;
    text-align: center;
    margin-top: 50px;
}

td, th{
    /*border: 1px solid black;*/
    text-align: center
}

button{
    text-align: center;
    margin-left: 40%;
}
.scoreboard, th{
    border: 2px solid black;
    background-color: #00264d;
    color: white;
}

.scoreboard, td{
    border: 2px solid black;
    background-color: #e0e0d1;
    color: #00264d;
}

.scoreboard{
    border: 5px solid #00264d;
    background-color: #f2f2f2;
    margin-top: 10px;
}

h4{
    text-align: center;
}




