body{
    background-color:#7795c4;
    background-size: cover;
}

h1 {
    color: #002054;
    text-align: center;
}

h2{
    color: #002054;
    text-align: center;   
}

.clues{
    margin-top:20px;
}

.box{
    text-align:center;
    color: blue;
    border: 5px solid black;
    margin-bottom:15px;
    height: 100px;
    background-color: #f9f9e5;
}

.box p{
    padding-top:25px;
}

form{
    margin-top: 25px;
    text-align: center;
}

button{
    margin-top: 10px;
}



.prev_answers{
    margin-top: 25px;
    border: 1px solid black;
    color: white;
    height: auto;
}

.leaderboard{
    border: 1px solid black;
    text-align: center;
    margin-top: 50px;
}